SELATPAY_ENV=local
SELATPAY_LOG_LEVEL=debug

SELATPAY_HTTP_ADDR=:8080
SELATPAY_DASHBOARD_ADDR=:8081

SELATPAY_DB_URL=postgres://selatpay:selatpay@localhost:5432/selatpay?sslmode=disable
SELATPAY_REDIS_ADDR=localhost:6379

SELATPAY_OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
SELATPAY_OTEL_SERVICE_NAME=selatpayd

SELATPAY_SOLANA_RPC_URL=http://localhost:8899
SELATPAY_SOLANA_WS_URL=ws://localhost:8900
SELATPAY_SOLANA_COMMITMENT=finalized
SELATPAY_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU

SELATPAY_HOT_WALLET_SECRET_BASE58=
SELATPAY_QUOTE_HMAC_SECRET=devsecret-quote-hmac-rotate-me
SELATPAY_WEBHOOK_HMAC_SECRET=devsecret-webhook-hmac-rotate-me

SELATPAY_MOCK_BANK_URL=http://localhost:9100
